body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}
#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
#profile {
    text-align: center;
}
#profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#social {
    text-align: center;
    margin-top: 10px;
}
#resume {
    margin-top: 20px;
}
#work-samples {
    margin-top: 20px;
}